.content {
    padding: 0 5.47%;
}

@media (max-width: 800px){
    .content {
        padding: 0 3.9%;
    }

}

@media (max-width: 440px) {
    .content {
        padding: 0 4.375%;
    }

    .content_movies {
        padding: 0 3.125%;
    }
}