.component_promo {
    background-color: #F3C1F8;
}

.component_techs {
    background-color: #F5F5F5;
}

.component__title {
    border-bottom: 1px solid rgba(0, 0, 0, 1);
    font-size: 22px;
    font-weight: normal;
    padding-bottom: 23px;
    margin: 0;
}

@media (max-width: 440px) {
    .component__title {
        font-size: 18px;
        padding-bottom: 28px;
    }
}