.about-me {
    padding-top: 80px;
}

.about-me__profile {
    display: flex;
    justify-content: space-between;
    margin-top: 66px;
    
}

.about-me__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 52.63%;
}

.about-me__name {
    font-weight: normal;
    font-size: 50px;
    line-height: 1.16;
    letter-spacing: -0.04em;
    margin: 0 0 18px 0;
}

.about-me__annotation {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.11;
    margin-top: 0;
    margin-bottom: 26px;
}

.about-me__about {
    margin: 10px 0 0 0;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.57;
}

.about-me__avatar {
    width: 270px;
    height: 327px;
    border-radius: 10px;
    object-fit: cover;
}

.about-me__socials {
    list-style: none;
    padding: 0;
    display: flex;
    margin-bottom: 0;
}

.about-me__socials-elem:first-child {
    margin-right: 20px;
}

.about-me__link {
    color: black;
    text-decoration: none;
    display: inline-block;
    border-bottom: 1px solid rgba(0, 0, 0, .3);
    padding-bottom: 1px;
}

.about-me__link:hover {
    opacity: .6;
}

@media (max-width: 768px) {
    .about-me {
        padding-top: 70px;
    }
    .about-me__avatar {
        height: 307px;
        width: 255px;
    }

    .about-me__name {
        font-size: 40px;
    }

    .about-me__annotation {
        font-size: 12px;
        margin-bottom: 20px;
    }
    .about-me__about {
        font-size: 12px;
    }
}

@media (max-width: 700px) {
    .about-me {
        padding-top: 70px;
    }
    .about-me__profile {
        flex-direction: column-reverse;
    }

    .about-me__avatar {
        margin: 0 auto;
        margin-bottom: 40px;
        width: 292px;
        height: 357px;
    }

    .about-me__info {
        margin: 0 auto;
        width: 292px;
    }

    .about-me__about {
        margin: 0;
    }

    .about-me__socials {
        margin-top: 40px;
    }
}
